#budget-counter {
    display: flex;
    justify-content: center;
}

.total {
    display: flex;
    justify-content: center;
}

#budget-bar {
    margin: 0 auto;
    display: flex;
    justify-content: left;
    height: 20px;
    width: 300px;
	background-color: grey;
    border-radius: 10px;
    padding: 0px;
	z-index: 10px;
}

.add-element {
    display: flex;
    justify-content: center;
}

.item {
    margin: 20px;
}

#entertainment {
  width: 25%;
  background-color: red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border: 1px solid black; */
}

#food {
  width: 25%;
  background-color: blue;
  /* border: 1px solid black; */
}

#clothing {
  width: 25%;
  background-color: yellow;
 /*  border: 1px solid black; */
}

#bills {
  width: 25%;
  background-color: green;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* border: 1px solid black; */
}
