#budget-counter {
    display: flex;
    justify-content: center;
}

.total {
    display: flex;
    justify-content: center;
}

#budget-bar {
    margin: 0 auto;
    display: flex;
    justify-content: left;
    height: 20px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
}

.add-element {
    display: flex;
    justify-content: center;
}

.item {
    margin: 20px;
}

#entertainment {
  position: relative;
  width: 25%;
  background-color: red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#food {
  position: relative;
  width: 25%;
  background-color: blue;
}

#clothing {
  position: relative;
  width: 25%;
  background-color: yellow;
}

#bills {
  position: relative;
  width: 25%;
  background-color: green;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
